 #Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak


#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
*.lock
*.ide
*.ide-shm
*.ide-wal
*.dll
*.jfm
ResourceCentre.Core/obj/Debug/ResourceCentre.Core.csproj.FileListAbsolute.txt
ResourceCentre.Repository/obj/Debug/ResourceCentre.Repository.csproj.FileListAbsolute.txt
ResourceCentre.Services/obj/Debug/ResourceCentre.Services.csproj.FileListAbsolute.txt
ResourceCentre.Test/obj/Debug/ResourceCentre.Test.csproj.FileListAbsolute.txt
.vs/ResourceCentre/v15/.suo
ResourceCentre.db/obj/Debug/ResourceCentre.db.sqlproj.FileListAbsolute.txt
.vs/ResourceCentre/v15/.suo
.vs/ResourceCentre/v15/.suo
ResourceCentre.Core/obj/Debug/ResourceCentre.Core.csproj.FileListAbsolute.txt
.vs/ResourceCentre/v15/.suo
ResourceCentre/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceCentre.db/obj/Debug/ResourceCentre.db.sqlproj.FileListAbsolute.txt
*.PNG
*.jpg
*.mp3
ResourceCentre/Web.config
ResourceCentre/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
