@using ResourceBibleStudy.Core.Dto;
@model List<Verse>
@{
    var chapterId = (int)ViewBag.Chapter;
    var bookName = (string)ViewBag.BookName;
}

<div class="book-content">
    <h1>@bookName</h1>

    <h2>Chapter @chapterId</h2>

    <p>
        @foreach (var item in @Model)
        {

            if (item.Id == 1)
            {
            <p class="capital">
                @item.VerseText
            </p>
            }
            else
            {
                <p>@string.Format("{0}. {1}", item.Id, item.VerseText)</p>
            }
        }

    </div>
    <span class="page-number">Powered by Resource TAT</span>