@using ResourceBibleStudy.Core.Dto;
@model Book


<div class="book-content">
    <h1> @Model.BookName</h1>

    <h2>Total Chapters @Model.BookChapter.Count</h2>

    <blockquote>
        Wisdom has to do with becoming skillful in honoring our parents and raising our children, handling our money and conducting our sexual lives, going to work and exercising leadership, using words well and treating friends kindly, eating and drinking healthily, cultivating emotions within ourselves, and attitudes towards others that makes for peace. Threaded through all these items is the insistence that the way we think of and respond to God is the most practical thing we can do. In matters of everyday practicality, nothing, absolutely nothing, takes precedence over God. Proverbs concentrates on these concerns more than any other book of the Bible
    </blockquote>
</div>
<span class="page-number">Powered by Resource TAT</span>