@using ResourceBibleStudy.Core.Dto;
@model List<Verse>
@{
    var chapterId = (int)ViewBag.Chapter;
    var bookName = (string)ViewBag.BookName;

    var summary = Model.Skip(1).Aggregate(string.Empty, (current, verse) =>
        current + string.Format("<sup>{0}</sup>{1} ", verse.Id, verse.VerseText));
}

<div class="book-content">
    <h1>@bookName</h1>

    <h2>Chapter @chapterId</h2>
    <p class="capital">
        @Model.First().VerseText
    </p>
    <p class="no-indent">
        @Html.Raw(summary)
    </p>

</div>
<span class="page-number">Powered by Resource TAT</span>